{% extends "base.html" %}

{% block title %}Minimi - ML Trainer{% endblock %}

{% block headers %}
    <style type="text/tailwindcss">
       
    </style>
{% endblock %}

{% block footer %}


{% endblock%}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="card text-center">
        <h2 class="mb-5 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl">ML Trainer</h2>
        <div id="ml_trainer" class="flex justify-center">
            <button 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                hx-post="{% url 'ml_train' %}" 
                hx-target="#ml_trainer"
                hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
            >
                RUN ML Trainer
            </button>
        </div>
    </div>
</div>
{% endblock %}


