<script>
    console.log(htmx)
</script>

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
        <div>
            <h2 class="text-2xl font-semibold leading-tight">Emails</h2>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div
                class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
            >
                <table id="mail-table" class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                            >
                                ID
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                            >
                                Content
                            </th>
                        </tr>
                    </thead>
                    <tbody id="mail-table-body">
                        {% for email in email_obj %}
                            <tr class="email-row">
                                <td class="px-5 py-5 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ email.id }}</p>
                                </td>
                                <td class="px-5 py-5 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ email.content }}</p>
                                </td>
                            </tr>
                            {% comment %} OUTPUT email_obj as json in a span {% endcomment %}
                             <tr> 
                                    <td colspan="2"  class="bg-white">
                                        {{ email_obj.has_next | pprint }}
                                        {{ forloop.last | pprint }}

                                    </td>
                            </tr>
                            <span hx-get="{% url 'email_table' %}?page={{ email_obj.next_page_number }}"
                                hx-swap="beforeend" hx-target="#mail-table-body" hx-select=".email-row"
                                hx-trigger="revealed">
                            </span>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>